/* LSX banners */
@media (min-width: 992px) { #lsx-banner .video-background video, #lsx-banner .video-foreground { height: 100%; left: 0; pointer-events: none; position: absolute; top: 0; width: 100%; } }

#lsx-banner { position: relative; }

#lsx-banner .banner-content { color: #FFF; margin: 5px auto 0; max-width: 600px; text-align: center; }

@media (min-width: 768px) { #lsx-banner .banner-content { margin-top: 20px; } }

#lsx-banner .video-background { display: none; }

@media (min-width: 992px) { #lsx-banner .video-background { background-color: #000; bottom: 0; display: block; left: 0; overflow: hidden; position: absolute; right: 0; top: 0; z-index: 3; } }

@media (min-width: 992px) { #lsx-banner .video-foreground { height: 300%; top: -100%; } }

#lsx-banner + .wrap > .content > header.archive-header { display: none; }

#lsx-banner .soliloquy-container .soliloquy-pager { -webkit-box-align: center; -ms-flex-align: center; align-items: center; bottom: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media (min-width: 992px) { #lsx-banner .soliloquy-container .soliloquy-pager { bottom: 25px; } }

#lsx-banner .soliloquy-container .soliloquy-pager .soliloquy-pager-item { margin: 0; padding: 5px; }

@media (min-width: 992px) { #lsx-banner .soliloquy-container .soliloquy-pager .soliloquy-pager-item { padding: 0 7.5px; } }

#lsx-banner .soliloquy-container .soliloquy-pager .soliloquy-pager-item .soliloquy-pager-link { background: transparent; background-clip: padding-box; border: 1px solid #FFF; height: 6px; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; width: 40px; }

#lsx-banner .soliloquy-container .soliloquy-pager .soliloquy-pager-item .soliloquy-pager-link.active { background-color: rgba(255, 255, 255, 0.8); border-color: rgba(255, 255, 255, 0.8); }

#lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-prev, #lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-next { background: transparent; border: 2px solid #FFF; border-radius: 50%; color: #FFF; height: 54px; margin-top: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 54px; }

@media (max-width: 767px) { #lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-prev, #lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-next { display: none; } }

#lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-prev:before, #lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-next:before { display: inline-block; font-family: FontAwesome; font-size: 40px; line-height: 1; position: absolute; text-rendering: auto; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

#lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-prev { left: 15px; }

@media (min-width: 992px) { #lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-prev { left: 40px; } }

#lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-prev:before { content: '\f104'; left: 15px; }

#lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-next { right: 15px; }

@media (min-width: 992px) { #lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-next { right: 40px; } }

#lsx-banner .soliloquy-container .soliloquy-controls-direction .soliloquy-next:before { content: '\f105'; left: 20px; }

#lsx-banner .soliloquy-container .soliloquy-caption { bottom: auto; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#lsx-banner .soliloquy-container .soliloquy-caption-inside { background: transparent; margin: 0 auto; max-width: 80%; min-width: 290px; padding: 0 15px; }

#lsx-banner .soliloquy-container .soliloquy-active-slide:after { background-color: rgba(55, 71, 80, 0.33); bottom: 0; content: ''; left: 0; position: absolute; right: 0; top: 0; z-index: 2; }

#lsx-banner .carousel .carousel-inner .item { -webkit-transition-property: opacity; transition-property: opacity; }

#lsx-banner .carousel .carousel-inner .item, #lsx-banner .carousel .carousel-inner .active.left, #lsx-banner .carousel .carousel-inner .active.right { opacity: 0; }

#lsx-banner .carousel .carousel-inner .active, #lsx-banner .carousel .carousel-inner .next.left, #lsx-banner .carousel .carousel-inner .prev.right { opacity: 1; }

#lsx-banner .carousel .carousel-inner .next, #lsx-banner .carousel .carousel-inner .prev, #lsx-banner .carousel .carousel-inner .active.left, #lsx-banner .carousel .carousel-inner .active.right { left: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

#lsx-banner .carousel .carousel-inner .carousel-indicators { -webkit-box-align: center; -ms-flex-align: center; align-items: center; bottom: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 0; }

@media (min-width: 992px) { #lsx-banner .carousel .carousel-inner .carousel-indicators { bottom: 25px; } }

#lsx-banner .carousel .carousel-inner .carousel-indicators > li { background: transparent; background-clip: padding-box; border: 1px solid #FFF; border-radius: 0; height: 6px; margin: 5px; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; width: 40px; }

@media (min-width: 992px) { #lsx-banner .carousel .carousel-inner .carousel-indicators > li { margin: 0 7.5px; } }

#lsx-banner .carousel .carousel-inner .carousel-indicators > li.active { background-color: rgba(255, 255, 255, 0.8); border-color: rgba(255, 255, 255, 0.8); }

#lsx-banner .carousel .carousel-inner .carousel-control { background: transparent; border: 2px solid #FFF; border-radius: 50%; color: #FFF; height: 54px; margin-top: 0; opacity: 1; text-shadow: none; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 54px; }

@media (max-width: 767px) { #lsx-banner .carousel .carousel-inner .carousel-control { display: none; } }

#lsx-banner .carousel .carousel-inner .carousel-control > .fa { font-size: 40px; line-height: 1; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#lsx-banner .carousel .carousel-inner .carousel-control.left { left: 15px; }

@media (min-width: 992px) { #lsx-banner .carousel .carousel-inner .carousel-control.left { left: 40px; } }

#lsx-banner .carousel .carousel-inner .carousel-control.left > .fa { left: 15px; }

#lsx-banner .carousel .carousel-inner .carousel-control.right { right: 15px; }

@media (min-width: 992px) { #lsx-banner .carousel .carousel-inner .carousel-control.right { right: 40px; } }

#lsx-banner .carousel .carousel-inner .carousel-control.right > .fa { left: 20px; }
