/*
 * LSX banners
 */

%video-iframe {
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

#lsx-banner {
	.video-background {
		background-color: #000;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;

		iframe {
			@extend %video-iframe;
		}
	}

	.video-foreground {
		@extend %video-iframe;

		@media (min-aspect-ratio: 16/9) {
			height: 300%;
			top: -100%;
		}

		@media (max-aspect-ratio: 16/9) {
			width: 300%;
			left: -100%;
		}
	}
}
