/*
 * LSX banners
 */
@media (min-width: 992px) {
  #lsx-banner .video-background video, #lsx-banner .video-foreground {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%; } }

#lsx-banner .video-background {
  display: none; }
  @media (min-width: 992px) {
    #lsx-banner .video-background {
      background-color: #000;
      bottom: 0;
      display: block;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3; } }

@media (min-width: 992px) {
  #lsx-banner .video-foreground {
    height: 300%;
    top: -100%; } }

#lsx-banner + .wrap > .content > header.archive-header {
  display: none; }
