/*
 * LSX banners
 */

%video-embed {
	@media (min-width: 992px) {
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

#lsx-banner {
	.banner-content {
		color: #fff;
		margin: 20px auto 0;
		max-width: 600px;
		text-align: center;
	}

	.video-background {
		display: none;

		@media (min-width: 992px) {
			background-color: #000;
			bottom: 0;
			display: block;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 3;
		}

		video {
			@extend %video-embed;
		}
	}

	.video-foreground {
		@extend %video-embed;
		
		@media (min-width: 992px) {
			//@media (min-aspect-ratio: 16/9) {
				height: 300%;
				top: -100%;
			//}

			//@media (max-aspect-ratio: 16/9) {
			//	width: 300%;
			//	left: -100%;
			//}
		}
	}

	& + .wrap {
		& > .content {
			& > header.archive-header {
				display: none;
			}
		}
	}

	.carousel {
		margin-bottom: 0;

		.carousel-indicators {
			bottom: 30px;
			position: absolute;

			li {
				border: 2px solid #fff;
				height: 15px;
				margin: 2px;
				width: 15px;

				&.active {
					background-color: #fff;
					height: 15px;
					margin: 2px;
					width: 15px;
				}
			}
		}

		.carousel-control {
			.fa {
				color: #fff;
				font-size: 40px;
				margin-top: 56px;
				position: absolute;
				top: 50%;
			}

			&.left {
				margin-left: 0;

				.fa {
					left: 30px;
				}
			}

			&.right {
				margin-right: 0;

				.fa {
					right: 30px;
				}
			}
		}
	}
}
