@mixin customizer-banners-colours ($color: #FFF) {
	#lsx-banner {
		.banner-content { color: $color; }

		.soliloquy-container {
			.soliloquy-pager {
				.soliloquy-pager-item {
					.soliloquy-pager-link {
						border-color: $color;

						&.active { background-color: $color; }
					}
				}
			}

			.soliloquy-controls-direction {
				.soliloquy-prev,
				.soliloquy-next {
					border-color: $color;
					color: $color;
				}
			}

			.soliloquy-caption-inside { color: $color; }
		}
	}
}
