@import 'include-media';

/*
 * LSX banners
 */

%video-embed {
	@include media('>=tablet') {
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

#lsx-banner {
	position: relative;

	.banner-content {
		color: #FFF;
		margin: 5px auto 0;
		max-width: 600px;
		text-align: center;

		@include media('>=phone') { margin-top: 20px; }
	}

	.video-background {
		display: none;

		@include media('>=tablet') {
			background-color: #000;
			bottom: 0;
			display: block;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 3;
		}

		video {
			@extend %video-embed;
		}
	}

	.video-foreground {
		@extend %video-embed;

		@include media('>=tablet') {
			height: 300%;
			top: -100%;
		}
	}

	& + .wrap {
		& > .content {
			& > header.archive-header {
				display: none;
			}
		}
	}

	.soliloquy-container {
		.soliloquy-pager {
			align-items: center;
			bottom: 10px;
			display: flex;
			flex-flow: row wrap;
			height: auto;
			justify-content: center;

			@include media('>=tablet') { bottom: 25px; }

			.soliloquy-pager-item {
				margin: 0;
				padding: 5px;

				@include media('>=tablet') { padding: 0 7.5px; }

				.soliloquy-pager-link {
					background: transparent;
					background-clip: padding-box;
					border: 1px solid #FFF;
					height: 6px;
					transition: all 300ms ease-in-out;
					width: 40px;

					&.active {
						background-color: rgba(#FFF, .8);
						border-color: rgba(#FFF, .8);
					}
				}
			}
		}

		.soliloquy-controls-direction {
			.soliloquy-prev,
			.soliloquy-next {
				background: transparent;
				border: 2px solid #FFF;
				border-radius: 50%;
				color: #FFF;
				height: 54px;
				margin-top: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 54px;

				@include media('<phone') {
					display: none;
				}

				&:before {
					display: inline-block;
					font-family: FontAwesome;
					font-size: 40px;
					line-height: 1;
					position: absolute;
					text-rendering: auto;
					top: 50%;
					transform: translateY(-50%);
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}

			.soliloquy-prev {
				left: 15px;

				@include media('>=tablet') { left: 40px; }

				&:before {
					content: '\f104';
					left: 15px;
				}
			}

			.soliloquy-next {
				right: 15px;

				@include media('>=tablet') { right: 40px; }

				&:before {
					content: '\f105';
					left: 20px;
				}
			}
		}

		.soliloquy-caption {
			bottom: auto;
			top: 50%;
			transform: translateY(-50%);
		}

		.soliloquy-caption-inside {
			background: transparent;
			margin: 0 auto;
			max-width: 80%;
			min-width: 290px;
			padding: 0 15px;
		}

		.soliloquy-active-slide {
			&:after {
				background-color: rgba(#374750, .33);
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 2;
			}
		}
	}

	.carousel {
		.carousel-inner {

			.item { transition-property: opacity; }

			.item,
			.active.left,
			.active.right {
				opacity: 0;
			}

			.active,
			.next.left,
			.prev.right {
				opacity: 1;
			}

			.next,
			.prev,
			.active.left,
			.active.right {
				left: 0;
				transform: translate3d(0, 0, 0);
			}

			.carousel-indicators {
				align-items: center;
				bottom: 10px;
				display: flex;
				flex-flow: row wrap;
				height: auto;
				justify-content: center;
				margin-bottom: 0;

				@include media('>=tablet') { bottom: 25px; }

				& > li {
					background: transparent;
					background-clip: padding-box;
					border: 1px solid #FFF;
					border-radius: 0;
					height: 6px;
					margin: 5px;
					transition: all 300ms ease-in-out;
					width: 40px;

					@include media('>=tablet') { margin: 0 7.5px; }

					&.active {
						background-color: rgba(#FFF, .8);
						border-color: rgba(#FFF, .8);
					}
				}
			}

			.carousel-control {
				background: transparent;
				border: 2px solid #FFF;
				border-radius: 50%;
				color: #FFF;
				height: 54px;
				margin-top: 0;
				opacity: 1;
				text-shadow: none;
				top: 50%;
				transform: translateY(-50%);
				width: 54px;

				@include media('<phone') { display: none; }

				& > .fa {
					font-size: 40px;
					line-height: 1;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}

				&.left {
					left: 15px;

					@include media('>=tablet') { left: 40px; }

					& > .fa { left: 15px; }
				}

				&.right {
					right: 15px;

					@include media('>=tablet') { right: 40px; }

					& > .fa { left: 20px; }
				}
			}
		}
	}
}
